.tag {
    font-weight: 500;                
    font-size: 0.75rem;              
    background-color: #f5f5dc;       
    color: #333;                     
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.tag:hover {
    background-color: #ececb4;
    transform: scale(1.05);
}
